.NonuniformFFTs {
    color: rgb(0.0% 44.705883% 69.803923%);  /* Makie blue - (0.0f0, 0.44705883f0, 0.69803923f0) */
    font-weight: bold;
}

.FINUFFT {
    color: rgb(90.19608% 62.352943% 0.0%);  /* Makie orange - 0.9019608f0, 0.62352943f0, 0.0f0 */
    font-weight: bold;
}
